<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <!--Server TimeZone : "Asia/Seoul" DB TimeZone : "Asia/Seoul"-->
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <RollingFile name="ExceptionLog" fileName="logs/Exception/Exception-logs.log" filePattern="logs/%d{yyyy-MM-dd}/currentTime-logs-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <TimeBasedTriggeringPolicy />
            <Filters>
                <ThresholdFilter level="error" onMatch="ACCEPT" onMismatch="DENY"></ThresholdFilter>
            </Filters>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="ExceptionLog"/>
        </Root>
    </Loggers>
</Configuration>
